<h1>Users</h1>

<ul>
	<% @users_with_connections.each do |user, connection, incoming, outgoing| %>
		<li>
		  <%= user.email %>

      <% if connection.present? %>
        Connected
      <% elsif incoming.present? %>
        <%= button_to "Accept", connection_request_connections_path(incoming) %>
      <% elsif outgoing.present? %>
          Sent
      <% else %>
        <%= button_to "Connect", user_connection_requests_path(user) %>
      <% end %>
    </li>
	<% end %>
</ul>
